body {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

span {
  padding: 28px 0;
  border: 1px #e0e0e0 solid;
  font-size: 20px;
}

span:hover {
  background: #f0f0f0;
}

span:active {
  background: #d0d0d0;
}

h1 {
  grid-column: 1 / end;
  font-size: 48px;
  color: #3c3c3c;
}

input {
  grid-column: 1 / end;
  width: 385px;
  height: 2.5em;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0 15px;
  border: 2px #e0e0e0 solid;
  font-size: 2em;
}

input:focus {
  border-color: #c0c0c0;
}

#container {
  height: 40%;
  width: 40%;
  margin: 10% auto;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, auto);
}

#AC {
  grid-column: 1 / 3;
}
